# Archivos sensibles
.env
*.bak
*.sql
*.mdf
*.ldf

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
*.pyc

# Django
db.sqlite3
*.sqlite3
*.log
staticfiles/
media/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Docker
*.pid
.idea/
.vscode/